.education {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.5rem 0;
}

.awards-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
