.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    color: #ab86cc;
}

.text-content {
    margin-left: 50px;
    padding-left: 50px;
    line-height: 1.6;
    padding-bottom: 20px;
}

h2 {
    color: #af3972;
}

a {
    color: #494949;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4b0a2a;
}