.education {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 30px;
    margin-left: 5px;
}

.education-img {
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    object-fit: contain;
    margin-left: 2.5rem;
}

.education-title {
    font-size: 1.5em;
    color: #d31010;
    font-weight: bold;
    text-align: left;
    margin-top: -8px;
    margin-left: 35px;
}

.education-description {
    font-size: 1.1rem;
    color: #000000;
    text-align: left;
    margin-left: 35px;
}

.subdescription {
    font-size: 1.2rem;
    color: #000000;
    text-align: left;
    margin-left: 35px;
}

.study-description {
    font-size: 1.8rem;
    color: #c20000;
    text-align: left;
    margin-left: 35px;
}