.main-page {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    gap: 100px;
    padding: 100px;
    color: #000000;
}

.text-content h1 {
    font-family: 'Merriweather', Serif;
    font-size: 50px;
    font-weight: bold;
}

.text-content h2 {
    font-family: 'Merriweather', Serif;
    font-size: 30px;
    font-weight: bold;
}

.text-content p {
    font-family: 'Merriweather', Serif;
    font-size: 16px;
    line-height: 1.6;
}

.images {
    display: flex;
    justify-content: flex-end;
    width: 30rem;
    margin-left: 5rem;    
    height: 30rem;         
    border-radius: 50px; 
}
