.main-page {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    gap: 100px;
    padding: 100px;
    color: #000000;
}

.text-content h1 {
    font-size: 50px; /* or 2rem */
    font-weight: bold;
}

.text-content h2 {
    font-size: 30px; /* or 2rem */
    font-weight: bold;
}

.text-content p {
    font-size: 14px; /* or 1.125rem */
    line-height: 1.6;
}

.images {
    display: flex;
    justify-content: flex-end;
    width: 30rem;
    margin-left: 5rem;             /* adjust as needed */
    height: 30rem;             /* maintains aspect ratio */
    border-radius: 50px; 
}
