.education {
    display: flex;
    gap: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(113, 106, 106, 0.2);
    width: 100%;
    margin: 0 auto;
}

.container {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20pt;
    padding-top: 10rem;
}

.education-img {
    width: 30rem;
    margin-left: 5rem;
}

.education-title {
    font-size: 20px;
}

.education-description {
    font-size: 20px;
    color: rgb(110, 16, 16);
    margin: 0;
}

.awards-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-top: 5rem;
}

.subdescription {
    font-size: 15px;
    margin: 0;
    padding-left: 1rem;
    color: #000000;
}